* {
  box-sizing: border-box;
  margin: 0;
}


body {

  background-image: url(./Assets/Images/olena-bohovyk-Cq5NaI0yKBE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

ul {
  margin-top: 0;
}

nav {
  width: 100%;
  height: 15svh;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(135, 131, 131, 1) 100%);
}
section {
  height: 100svh;
  margin-block: 30svh;
}

#Sun {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./Assets/Images/GSFC_20171208_Archive_e001435~large.jpg); 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Earth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(./Assets/Images/image-removebg-preview.png); 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  text-align: center;
  font-size: 2rem;

}

footer {
  width: 100%;
  height: 30svh;
  background: linear-gradient(0deg,rgba(135, 131, 131, 1) 0%, rgba(0,0,0,0) 100%);
}