* {
  box-sizing: border-box;
}


body {
  background-image: url(./Assets/Images/olena-bohovyk-Cq5NaI0yKBE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



nav {
  width: 100%;
  height: 15svh;
  background: linear-gradient(0deg,rgba(0, 0, 0, 0) 0%, rgba(135, 131, 131, 1) 100%);
}