* {
  box-sizing: border-box;
  margin: 0;
}


body {

  background-image: url(./Assets/Images/olena-bohovyk-Cq5NaI0yKBE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto";
}

header {
 
  background: linear-gradient(0deg,rgba(0,0,0,0) 0%, rgba(135,131,131, 1) 100%);
  height:15vh;

}

.title {
  font-size: 3rem;
  cursor: pointer;
}


nav {
  margin-inline: 6vh;
  display: flex;
  justify-content: space-around;


  

}
.nav-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  gap: 3vh;
}


.nav-button {
  border: 5px, solid, white;
  border-radius: 50%;
  padding: 1vh;
  color: white;
  width: 10vh;
  text-align: center;
  text-decoration: none;
}

.title {
  font-weight: bolder;
  display: flex;
  justify-content: start;
  align-items: center;
}


section {
  height: 100svh;
  margin-block: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Sun {
  background-image: url(./Assets/Images/GSFC_20171208_Archive_e001435~large.jpg); 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 68vh;
}

#Earth {
  background-image: url(./Assets/Images/image-removebg-preview.png); 
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  text-align: center;
  font-size: 2rem;

}

footer {
  width: 100%;
  height: 30vh;
  background: linear-gradient(0deg,rgba(135, 131, 131, 1) 0%, rgba(0,0,0,0) 100%);
}